[user]
    name = Vincent Cogne
    email = banananana@protonmail.com
    signingkey = A71BDD0E436F2DA3

[core]
    editor = vim
    quotepath = false

[rerere]
    enabled = false

[alias]
    br = branch -vv
    ba = branch -va
    cm = commit -v
    co = checkout
    st = status
    ru = remote update
    nlog = log --name-status --decorate
    ls = log --pretty=oneline --abbrev-commit --decorate
    ci = commit -v
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    unstage = reset HEAD --

[color]
    ui = auto

[merge]
    summary = true

[push]
    default = simple

[diff]
    tool = vimdiff
    compactionHeuristic = true
	noprefix = true

[difftool]
    prompt = false

[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[status]
    submoduleSummary = false

[submodule]
    fetchJobs = 4

[pager]
    #diff = /usr/share/git/diff-highlight/diff-highlight | less -r
    #log = /usr/share/git/diff-highlight/diff-highlight | less -r
    #show = /usr/share/git/diff-highlight/diff-highlight | less -r
