[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/align"]
	path = .vim/bundle/align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/zomwin"]
	path = .vim/bundle/zomwin
	url = git://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/actionscript"]
	path = .vim/bundle/actionscript
	url = git://github.com/vim-scripts/ActionScript.git
[submodule ".vim/bundle/json"]
	path = .vim/bundle/json
	url = git://github.com/vim-scripts/JSON.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/fuzzyfinder"]
	path = .vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/sessionman"]
	path = .vim/bundle/sessionman
	url = git://github.com/vim-scripts/sessionman.vim.git
[submodule ".vim/bundle/autocorrect"]
	path = .vim/bundle/autocorrect
	url = git://github.com/vim-scripts/autocorrect.vim.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/colors-getafe"]
	path = .vim/bundle/colors-getafe
	url = git://github.com/larssmit/vim-getafe.git
[submodule ".vim/bundle/colors-github"]
	path = .vim/bundle/colors-github
	url = git://github.com/telamon/vim-color-github.git
[submodule ".vim/bundle/colors-irblack"]
	path = .vim/bundle/colors-irblack
	url = git://github.com/wgibbs/vim-irblack.git
[submodule ".vim/bundle/colors-solarized"]
	path = .vim/bundle/colors-solarized
	url = git://github.com/vim-scripts/Solarized.git
[submodule ".vim/bundle/colors-darkburn"]
	path = .vim/bundle/colors-darkburn
	url = git://github.com/vim-scripts/darkburn.git
[submodule ".vim/bundle/colors-molokai"]
	path = .vim/bundle/colors-molokai
	url = git://github.com/vim-scripts/molokai.git
