[Unit]
Description=Set keyboard repeat rate
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xset r rate 170 25
Restart=on-failure

[Install]
WantedBy=default.target

