[Unit]
Description=Set mouse acceleration
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/xset m 3 200
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=multi-user.target

