[Unit]
Description=Map right alt to compose for special characters
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/setxkbmap -option compose:ralt
Restart=on-failure
Environment=DISPLAY=:0
Environment=XAUTHORITY=%h/.Xauthority

[Install]
WantedBy=multi-user.target

