[Unit]
Description=Restore Dell primarily-AC battery policy
After=systemd-modules-load.service

[Service]
Type=oneshot
TimeoutStartSec=40s
ExecStart=/usr/bin/bash /usr/local/libexec/dell-battery-charge-limit

[Install]
WantedBy=multi-user.target
